[submodule "readium-sdk"]
	path = readium-sdk
	url = git@github.com:Storytel/readium-sdk.git
[submodule "readium-shared-js"]
	path = readium-shared-js
	url = git@github.com:Storytel/readium-shared-js.git
